#!/bin/sh
exec 2>&1
<%= render("mount_point_check.erb") %>
umask 077
exec chpst -P -U <%= node['gitlab']['prometheus']['username'] %>:<%= node['gitlab']['prometheus']['group'] %> -u <%= node['gitlab']['prometheus']['username'] %>:<%= node['gitlab']['prometheus']['group'] %> \
  /opt/gitlab/embedded/bin/alertmanager <%= @options[:flags] %>
